In [20]:
list1=[1,2,3,4,"a","rajveer"]

In [3]:
print(list1[2])

3

In [10]:
list1[2]=55

In [8]:
print(list1)

[1, 2, 55, 4, 'a', 55]

In [11]:
len(list1)

6

In [13]:
print(list1[2:4])

[55, 4]

In [14]:
print("membership of 2 is",2 in list1)

membership of 2 is True

In [15]:
list1*2

[1, 2, 55, 4, 'a', 55, 1, 2, 55, 4, 'a', 55]

In [30]:
list2=[1,3,5,7,"a","ria"]

In [24]:
l=list1+list2
print(l)

[1, 2, 3, 4, 'a', 'rajveer', 1, 3, 5, 7, 'a', 'ria']

In [36]:
mylist=[1,2,5,4,True]

In [39]:
mylist.append(False)
print(mylist)

[1, 2, 5, 4, True, False, False]

In [41]:
mylist.insert(4,"abc")
print(mylist)

[1, 2, 5, 4, 'abc', 'abc', True, False, False]

In [42]:
mylist.pop(2)
print(mylist)

[1, 2, 4, 'abc', 'abc', True, False, False]

In [43]:
mylist.sort()
print(mylist)

TypeError: '<' not supported between instances of 'str' and 'int'

In [45]:
mylist.reverse()
print(mylist)

[False, False, True, 'abc', 'abc', 4, 2, 1]

In [46]:
mylist.count(False)
print(mylist)

[False, False, True, 'abc', 'abc', 4, 2, 1]

In [47]:
mylist.remove(False)
print(mylist)

[False, True, 'abc', 'abc', 4, 2, 1]

In [48]:
mylist.del[0]
print(mylist)

SyntaxError: invalid syntax (<ipython-input-48-237353056565>, line 1)

In [50]:
del(mylist[0])
print(mylist)

['abc', 'abc', 4, 2, 1]

In [53]:
mystring="uday"
print(len(mystring))
print(mystring.center(55))
string=mystring.replace("u","a")
print(string)

4
                          uday
aday

In [57]:
list_of_words="hello, welcome to byte acadmy"
print(list_of_words.split())
print(list_of_words.split("e"))

['hello,', 'welcome', 'to', 'byte', 'acadmy']
['h', 'llo, w', 'lcom', ' to byt', ' acadmy']

In [58]:
t1=(1,2,4,5,8)

In [59]:
t2=(5,8,5,3,1)

In [60]:
t1+t2

(1, 2, 4, 5, 8, 5, 8, 5, 3, 1)

In [61]:
t1*2

(1, 2, 4, 5, 8, 1, 2, 4, 5, 8)

In [62]:
len(t1)

5

In [67]:
t=t1[:]
print(t)

(1, 2, 4, 5, 8)

In [65]:
2 in t1

True

In [68]:
t1[3]

5

In [69]:
t1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [81]:
set={1,3,5,"dog",False}
print(type(set))
myset={2,5,8,True,2.5}
print(myset)
print(False in myset)
print('cat' in myset)
print(set|myset)
print(set&myset)

<class 'set'>
{True, 2, 2.5, 5, 8}
False
False
{False, 1, 2, 3, 'dog', 5, 2.5, 8}
{True, 5}

In [86]:
my_dictionary={"a":1,"b":2,"c":3}
print(my_dictionary["b"])
my_dictionary["c"]=10
print(my_dictionary)
print(my_dictionary.keys())
print(my_dictionary.values())

2
{'a': 1, 'b': 2, 'c': 10}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 10])